<div class="flujo-container">

  <div *ngIf="!peliculaSeleccionada()" class="loading-state">
    <p>Cargando película...</p>
  </div>
  
  <div *ngIf="peliculaSeleccionada()" class="flujo-content">
    
    <button routerLink="/" class="btn-volver">← Volver a Cartelera</button>

    <app-seleccionar-funcion 
      *ngIf="pasoActual() === 1"
      [pelicula]="peliculaSeleccionada()"
      (onSiguiente)="onFuncionSeleccionada($event)">
    </app-seleccionar-funcion>

    <app-seleccionar-butacas 
      *ngIf="pasoActual() === 2"
      [funcion]="reserva().funcion"
      (onAtras)="retrocederPaso()"
      (onSiguiente)="onButacasSeleccionadas($event)">
    </app-seleccionar-butacas>

    <app-confirmar-compra 
        *ngIf="pasoActual() === 3"
        [reservaActual]="reserva()"
        (onAtras)="retrocederPaso()"
        (onSiguiente)="onResumenConfirmado($event)">
    </app-confirmar-compra>

    <app-pago 
        *ngIf="pasoActual() === 4"
        [montoTotal]="reserva().total"
        (onAtras)="retrocederPaso()"
        (onPagoExitoso)="finalizarCompra()">
    </app-pago>

</div>